html {
    background-color: azure;
}

header {
    background-color: ghostwhite;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    align-content: center;
    padding: 15px;
}

h2 {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 1 10px;
    justify-content: center;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-section {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 5px;
    border: 2px solid blue;
    border-radius: 5px;
}

.image-section img {
    justify-items: left;
    padding: 10px;
}

.image-section p {
    background-color: aliceblue;
    justify-items: right;
    padding: 10px;
    width: 300px;
    height: 200px;
}

footer {
    background-color: aquamarine;
    padding: 5px;
}

.poem-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5 5px;
    align-items: center;
    justify-content: center;
    min-width: 500px;
    
}

@media only screen and (max-width:1000px) {
    width:50%;
}

@media only screen and (max-width:500px) {
    width:30%;
}